@page
@model WebAppProduto.Pages.Produtos.DetailModel
@{
}
<div class="row">
    <div class="col-md-12">
        <img class="mx-auto d-block" src="@Html.DisplayFor(model => Model.Produto.image)"
             alt="Imagem do @Html.DisplayFor(model => Model.Produto.nome)" />
        <h1 class="text-center">@Html.DisplayFor(model => Model.Produto.nome)</h1>
    </div>
    <hr />
    <div class="col-md-6">
        <h3>Tipo: @Html.DisplayFor(model => Model.Produto.tipo)</h3>
    </div>
    <div class="col-md-6">
        <h3>setor: @Html.DisplayFor(model => Model.Produto.setor)</h3>
    </div>
    <div class="col-md-6">
        <h3>Quantidade: @Html.DisplayFor(model => Model.Produto.quantidade)</h3>
    </div>
    <div class="col-md-6">
        <h3>Local: @Html.DisplayFor(model => Model.Produto.local)</h3>
    </div>
    <div class="col-md-6">
        <h3>Fornecedor: @Html.DisplayFor(model => Model.Produto.fornecedor)</h3>
    </div>
</div>
<div class="row">
    <a class="btn btn-outline-primary"
       asp-page="/Produtos/Edit"
       asp-route-id="@Model.Produto.ID">Editar</a>
    <a class="btn btn-outline-danger"
       asp-page="/Produtos/Delete"
       asp-route-id="@Model.Produto.ID">Deletar</a>
</div>