@page
@model WebAppProduto.Pages.Produtos.DetailModel
@{
    Layout = null;
}

<div class="modal-dialog">
    <div class="modal-content">
        <!--Cabeçalho-->
        <div class="modal-header">
            <h4 class="modal-title">Detalhes do Produto</h4>
        </div>
        <!--Corpo - Card-->
        <div class="modal-body">
            <div class="card" style="width: 100%; text-align: center">
                <img src="@Html.DisplayFor(model => Model.Produto.image)" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">@Html.DisplayFor(model => Model.Produto.nome)</h3>
                </div>
                <ul class="list-group list-group-">
                    <li class="list-group-item list-group-item-secondary"><strong>Código: </strong>@Html.DisplayFor(model => Model.Produto.codigo)</li>
                    <li class="list-group-item list-group-item-secondary"><strong>Tipo: </strong>@Html.DisplayFor(model => Model.Produto.tipo)</li>
                    <li class="list-group-item list-group-item-secondary"><strong>Setor: </strong>@Html.DisplayFor(model => Model.Produto.setor)</li>
                    <li class="list-group-item list-group-item-secondary"><strong>Quantidade: </strong>@Html.DisplayFor(model => Model.Produto.quantidade)</li>
                    <li class="list-group-item list-group-item-secondary"><strong>Local: </strong>@Html.DisplayFor(model => Model.Produto.local)</li>
                    <li class="list-group-item list-group-item-secondary"><strong>Fornecedor: </strong>@Html.DisplayFor(model => Model.Produto.fornecedor)</li>
                </ul>
            </div>
        </div>
        <!--Footer - Botões-->
        <div class="modal-footer">
            <a type="button" class="btn btn-primary"
               asp-page="/Produtos/Index">Ir para página inicial</a>
            <a type="button" class="btn btn-outline-success"
               asp-page="/Produtos/Edit"
               asp-route-id="@Model.Produto.ID">Editar</a>
        </div>

    </div>
</div>
